HotFixLibrary/Service References/MDImageCreation/MDImageCreation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RunCreateImageIDTool">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="win8BuildNumbers" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OSid" type="xs:int" />
        <xs:element minOccurs="0" name="win8branch" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RunCreateImageIDToolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RunCreateImageIDToolResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>