RMIntegration/Service References/RMService/ReleaseManService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://ddse.redmond.corp.microsoft.com/ReleaseManService/ReleaseManService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://ddse.redmond.corp.microsoft.com/ReleaseManService/ReleaseManService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" />
  <xs:element name="GetActiveReleaseIds">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReleaseIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetActiveReleaseIdsResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReleases">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReleasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetActiveReleasesResult" nillable="true" type="q2:ArrayOfRelease" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRelease">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="releaseId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetReleaseResult" nillable="true" type="q3:Release" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemIdsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkItemIdsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetWorkItemIdsByIdResult" nillable="true" type="q4:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatchById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatchByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetPatchByIdResult" nillable="true" type="q5:Patch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatchFilesById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatchFilesByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetPatchFilesByIdResult" nillable="true" type="q6:ArrayOfFile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseIdsForPreMTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preMTPId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseIdsForPreMTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetReleaseIdsForPreMTPResult" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleasesForPreMTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="preMTPId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleasesForPreMTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetReleasesForPreMTPResult" nillable="true" type="q8:ArrayOfRelease" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseIdsForMTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleaseIdsForMTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetReleaseIdsForMTPResult" nillable="true" type="q9:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleasesForMTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mtpId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReleasesForMTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetReleasesForMTPResult" nillable="true" type="q10:ArrayOfRelease" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchesForPatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchesForPatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetBranchesForPatchResult" nillable="true" type="q11:ArrayOfBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseBuildNumberById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBaseBuildNumberByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBaseBuildNumberByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentVersionById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentVersionByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComponentVersionByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustom1DataById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustom1DataByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustom1DataByIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLCUKBNumberById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLCUKBNumberByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLCUKBNumberByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFixInfoByBugId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DevDivVSOBugId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFixInfoByBugIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFixInfoByBugIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatchesByBugId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DevDivVSOBugId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPatchesByBugIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetPatchesByBugIdResult" nillable="true" type="q12:ArrayOfPatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSymbolValidationResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workItemId" type="xs:int" />
        <xs:element minOccurs="0" name="result" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSymbolValidationResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSymbolValidationResultsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBranches">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetAllBranchesResult" nillable="true" type="q13:ArrayOfBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReleaseTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllReleaseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetAllReleaseTypesResult" nillable="true" type="q14:ArrayOfReleaseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetAllProductsResult" nillable="true" type="q15:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOS">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetAllOSResult" nillable="true" type="q16:ArrayOfOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranches">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="releaseTypes" nillable="true" type="q17:ArrayOfstring" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="productNames" nillable="true" type="q18:ArrayOfstring" />
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="osNames" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBranchesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ReleaseManService.Model" minOccurs="0" name="GetBranchesResult" nillable="true" type="q20:ArrayOfBranch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPackageInformationFromTFS">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="releaseId" type="xs:int" />
        <xs:element minOccurs="0" name="patchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshPackageInformationFromTFSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RefreshPackageInformationFromTFSResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>